@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #C0DBCA, #89C2B3);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #5e8a7ea7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{ 
    color: #FF9788;
    text-align: center;
    text-shadow: 1px 1px 2px #8b544cd9;
}

h2 {
    color: #FFC2A5;
}

p {
    text-align: justify;
}